:root {
    /* CSS HEX */
    --moonstone: #12a9bc;
    /* --reseda-green: #705B6E; */
    --reseda-green: #AD859D;
    /* --reseda-green: #6d824f; */

    --timberwolf: #d5cdc3;
    --moonstoneHalf: hsla(187, 83%, 40%, .5);
    --powder-blue: #92b6da;
    --cinereous: #978378;
    --section-background: #858587;
    /* --section-background: #333; */

    /* CSS HSL */
    --moonstone: hsla(187, 83%, 40%, 1);
    /* --reseda-green: hsla(85, 24%, 41%, 1); */
    --timberwolf: hsla(33, 18%, 80%, 1);
    --powder-blue: hsla(210, 49%, 71%, 1);
    --cinereous: hsla(21, 13%, 53%, 1);

    /* https://getcssscan.com/css-box-shadow-examples */
}

/* DOCUMENT FORMATTING */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background-color: #333;
    display: flex;
    flex-direction: column;
}

/* HEADER and NAV and Banner*/
header {
    background: #333;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999;
    border-radius: 0px 0px 15px 15px;
    box-shadow: rgba(184, 184, 184, 0.22) -20px 9px 20px;
    border-bottom: 5px solid var(--reseda-green);
}

.banner {
    background-color: var(--timberwolf);
    padding: .5rem;
    text-align: center;
}

/* fix the alignment on these elements */
.banner-btn {
    position: relative;
    float: right;
}

nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    height: 75px;
    padding: 1rem 0;
    background-color: #333;
    border-radius: 0px 0px 15px 15px;
    max-width: 1300px;
}

.mobile-right {
    display: flex;
    align-items: center;
}

.nav-logo {
    padding-left: 1rem;
    background-color: white;
    color: black;
    background-image: linear-gradient(to top, #e2ffb9 0%, #19def9 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: auto 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

ul.show {
    display: block;
    width: 100%;
    margin-top: 15px;
}

.nav-links {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    background: black;
    text-align: center;
    padding: .5rem;
}

.nav-links:hover {
    background: var(--powder-blue);
    border-radius: 5px;
}

a.active {
    text-decoration: underline;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 3rem;
    border-radius: 5px;
    background: #12a9bc;
    font-weight: 700;
    color: black;
    margin-right: 1rem;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.08), 0 4px 4px 0 rgba(187, 187, 187, 0.12);
}

.small-hide,
.large-hide,
.none {
    display: none;
}

/* Menu */
#menu {
    color: white;
    font-size: 3.2rem;
    text-decoration: none;
    line-height: 0;
    padding-right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.show::before {
    content: "X";
}

/* MAIN */
main {
    display: grid;
    grid-template-columns: 1fr;
}

/* SECTIONS */
section {
    font-size: 1rem;
}

/* H1 on each page */
main section.intro:not(.hero){
    grid-column: 1 / -1;
    color: white;
    text-align: center;
    background-color: #333;
    box-shadow: unset;
    margin-top: 2rem;
    text-decoration: underline;
}

/* HERO SECTION */
.hero {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 89vh;
    background-color: #12a9bc;
}

.hero-text {
    text-align: center;
    color: #352727;
    margin-bottom: 5vh;
}

.hero-text h1 {
    font-size: clamp(4rem, 50rem, 11vw);
}

.hero-text h2 {
    font-size: clamp(2.5rem, 50rem, 7vw);

}

.hero-text p {
    font-size: clamp(1.5rem, 50rem, 4vw);
    font-weight: 700;

}

#hero-img {
    min-width: 375px;
    max-width: 63vw;
    padding: 1rem;
}

/* Contact SECTION */
.contact {
    background: var(--timberwolf);
    border-top: solid 1rem var(--reseda-green);
    border-bottom: solid 1rem var(--reseda-green);
    border: solid 8px var(--reseda-green);
    border-radius: 1rem;
    grid-column: 1/-1;
    padding: 1rem;
    margin: 1rem;
}

.contact h2 {
    text-decoration: underline;
}

.contact>div {
    display: flex;
    margin: 1rem;
}

.contact>div>div:first-child {
    margin-right: 1rem;
}

.contact>div span {
    font-weight: 700;
}

/* Sections Under Contact */
section:not(.hero) {
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
}

section:not(.hero):not(.contact) {
    background: var(--section-background);
    background-color: var(--timberwolf);
    color: black;
}

section:not(.hero):not(.contact) h2 {
    /* background: var(--timberwolf); */
    background: var(--reseda-green);
    color: black;
    padding: .75rem;
    border-radius: 20px 20px 0px 0px;
}

section .section-content {
    padding: .4rem;
}

ul:not(.nav-links-container),
.no-padding {
    padding-left: 1rem;
}

/* Weather-Current SECTION */

.cur-display {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}

.cur-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
}

/* Weather-Forecast SECTION */
.forecast-ul li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* RENTALS PAGE */
/* PRICING SECTION */
section.pricing {
    grid-column: 1 / -1;
}

table {
    border: none;
    border-collapse: collapse;
    border: 1px solid #000000;
    border-spacing: 1px;
    border: solid;
    border-collapse: separate;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow: hidden;
    margin: 1rem auto;
    word-wrap: break-word;
}

/* table tr:first-child td{
    background-color: var(--moonstone);
    padding: 1rem;
} */

table tbody tr:nth-child(2) {
    border: solid;
}

table tbody tr:nth-child(-n+3) {
    /* background-color: var(--reseda-green); */
    background-color: var(--moonstone);
}

tr:nth-child(odd) {
    background-color: var(--powder-blue);
    background-color: var(--moonstoneHalf);
}

tr:nth-child(even) {
    background-color: var(--timberwolf);
}

td {
    text-align: center;
    padding: 5px;
}

/* Image Carousel */
.carousel {
    width: 100%;
    height: 30rem;
    position: relative;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    list-style-type: none;
}

.slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0px 0px 20px 20px;
}

.carousel-description {
    position: absolute;
    z-index: 10;
    background: none;
    border: none;
    font-size: 1.4rem;
    width: 70%;
    bottom: 5%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    color: rgba(225, 225, 225, 1);
    border-radius: .25rem;
    padding: 0 .1rem;
    background-color: rgba(51, 51, 51, .7);
    border-radius: 10px 10px 10px 10px;
}

.carousel-btn {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(225, 225, 225, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.carousel-btn:hover,
.carousel-btn:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-btn:focus {
    outline: 1px solid black;
}

.carousel-btn.prev {
    left: 1rem;
}

.carousel-btn.next {
    right: 1rem;
}

.img-active {
    opacity: 1;
}

/* FORM STYLING */

form fieldset {
    margin: 1rem 0;
    border: 4px solid var(--reseda-green);
    /* border: 4px solid var(--moonstone); */
    /* border: none; */
    border-radius: 15px;
    padding: .5rem 2%;
}

form legend {
    /* background-color: var(--moonstone); */
    border: 4px solid var(--reseda-green);
    border: 4px solid var(--moonstone);
    border: none;
    border-radius: 15px;
    font-weight: 700;
    margin: 0 1rem;
    padding: .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
}

form label.top input {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .5rem;
    color: #555;
    width: 100%;
    background-color: rgb(250, 250, 250);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form button.submitBtn {
    border: none;
    background-color: var(--moonstone);
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 1rem 0 .5rem 2%;
    width: 96%;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

form textarea {
    height: 150px;
    padding: .65rem;
    box-sizing: border-box;
    border: 1px solid var(--charcoal);
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: .8rem;
    resize: none;
    width: 100%;
}

/* Footer */
footer {
    background-color: var(--moonstone);
    padding: 1rem;
    margin-top: 1rem;
}

.branding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

footer p {
    text-align: center;
    margin: 1rem auto;
}

.footer-logo {
    padding: 0rem 1rem 0rem 1rem;
    color: black;
    margin: auto 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.social-media-container a {
    text-decoration: none;
}

.social {
    font-size: 25px;
    border-radius: 50%;
    padding: 5px;
    color: white;
    margin: 5px 2px;
}

.social:hover {
    opacity: 0.7;
}

.social-facebook {
    background: #3B5998;
}

.social-twitter {
    background: #55ACEE;
}

.social-google {
    background: #dd4b39;
}

.social-youtube {
    background: #bb0000;
}

.social-instagram {
    background: #125688;
    color: white;
}