@media screen and (min-width: 1000px) {

    /* Navigation */
    #menu,
    div.mobile-right {
        display: none;
    }

    nav {
        flex-wrap: unset;
    }

    ul.nav-links-container {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: 0 1rem 0 0;
        list-style-type: none;
    }

    .nav-links {
        background: unset;
    }

    .cta-li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        border-radius: 5px;
        background: var(--moonstone);
        font-weight: 700;
        color: black;
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.08), 0 4px 4px 0 rgba(187, 187, 187, 0.12);
    }

    /* Hero */
    .hero {
        display: grid;
        grid-template-columns: 4fr 5fr;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        width: 100vw;
        height: 89vh;
        background-color: var(--moonstone);
    }

    .hero-text {
        text-align: center;
        color: var(--background);
    }

    .hero-text h1 {
        font-size: clamp(1rem, 4.4vw, 15rem)
    }

    .hero-text h2 {
        font-size: clamp(1rem, 3vw, 3.8rem)
    }

    .hero-text p {
        font-size: clamp(1.5vw, 1.6vw, 2rem);
        font-weight: 700;
    }

    #hero-img {
        min-width: 400px;
        max-width: 100%;
        padding: 1rem;
        margin: 0 auto;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    section {
        font-size: 1.2rem;
    }

    section .container-content {
        padding: 1rem;
    }

    .span-one {
        grid-column: span 1;
    }

    .reserve-form {
        grid-row: span 2;
    }

    /* RENTAL PAGE */
    /* PRICING SECTION / Homepage Image Section */
    .span-two {
        grid-column: span 2;
    }

    /* Footer */
    .social {
        font-size: 40px;
        padding: 10px;
    }
}