@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    section {
        grid-column: span 1;
    }

    .card1 {
        grid-column: span 1;
    }

    img{
        width: 87%;
        margin-left: auto;
        margin-right: auto;
    }
}