@media screen and (min-width: 1020px){
    .header{
        background: green;
    }

    /* nav {
        max-height: 5rem;
        margin: 1.1rem;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    nav ul {
        display: flex;
        justify-content: space-around;
        width: 70%;
        list-style: none;
    }
    
    nav ul li {
        margin-top: auto;
        margin-bottom: auto;
    }
    
    nav ul li a,
    nav ul li a:hover,
    nav ul li a:visited {
        text-decoration: none;
        color: black;
    }
    
    nav ul li a:hover {
        border-bottom: 3px solid var(--charcoal);
        border-radius: 3px;
    } */

    main {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    section{
        grid-column: span 1;
    }
}